<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <Console name="stdout" target="SYSTEM_OUT">
      <PatternLayout pattern="%d %p %c %X %m%n"/>
    </Console>
      <RollingFile name="application" fileName="log/application.log"
                   filePattern="log/application-%i.log.gz">
          <JsonTemplateLayout eventTemplateUri="classpath:LogstashJsonEventLayoutV1.json"/>
          <Policies>
              <SizeBasedTriggeringPolicy size="100 MB"/>
          </Policies>
          <DefaultRolloverStrategy max="5" compressionLevel="9" />
      </RollingFile>
    <RollingFile name="error" fileName="log/error.log"
                 filePattern="log/error-%i.log.gz">
        <PatternLayout pattern="%d %p %c %X %m%n"/>
        <Policies>
            <SizeBasedTriggeringPolicy size="100 MB"/>
        </Policies>
        <DefaultRolloverStrategy max="5" compressionLevel="9" />
    </RollingFile>
    <RollingFile name="info" fileName="log/info.log"
                 filePattern="log/info-%i.log.gz">
        <PatternLayout pattern="%d %p %c %X %m%n"/>
        <Policies>
            <SizeBasedTriggeringPolicy size="100 MB"/>
        </Policies>
        <DefaultRolloverStrategy max="5" compressionLevel="9" />
    </RollingFile>
    <RollingFile name="debug" fileName="log/debug.log"
                 filePattern="log/debug-%i.log.gz">
        <PatternLayout pattern="%d %p %c %X %m%n"/>
        <Policies>
            <SizeBasedTriggeringPolicy size="100 MB"/>
        </Policies>
        <DefaultRolloverStrategy max="5" compressionLevel="9" />
    </RollingFile>
  </Appenders>
  <Loggers>
    <Root level="debug">
      <AppenderRef ref="stdout" level="debug" />
      <AppenderRef ref="error" level="warn" />
      <AppenderRef ref="info" level="info" />
      <AppenderRef ref="debug" level="debug" />
      <AppenderRef ref="application" level="info" />
    </Root>
  </Loggers>
</Configuration>